html, body {
    padding: 0.5rem;
}

/* Customize text */

h1 {
    color: #366F9F;
    word-wrap: break-word;
    font-size: 4rem;
}

p {
    font-size: 1rem;
}

/* Title area */

.title {
    text-align: center;
    margin: 1rem;
}

/* Customize tables */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    line-height: 20px;
}

th {
    color: white;
    background-color: #366F9F;
    text-align: left;
    border-bottom: 0.5px solid black;
    font-weight: bold;
}

/* Add padding to cells */

th, td {
    padding: 0.75rem;
}

/* Customize appearance of specific columns */

td.b {
    color: #366F9F;
}

.a {
    font-weight: bold;
}

/* Add horizontal padding to columns */

.a, .b, .c {
    padding-left: 10px;
    padding-right: 10px;
}

/* Alternating row colors */

tr.odd {
    background-color: #dfecf8;
}

tr.even {
    background-color: #c9dae7;
}

tr.odd:hover, tr.even:hover {
    background-color: #799cb9;
}

/* Other stylistic changes */

.top-spacing {
    padding-top: 1rem;
}
